<div class="home-card">

	<img class="home-card-img" src="/templates/home/profile.jpg">

	<div class="home-card-text">
		
		<p>Hi there! This is the personal website of <b>Riley Wheadon</b>. To learn more about me and this site, take a look at the <a href="/about">About</a> page. For an overview of my work, see the <a href="/projects">Projects</a> page. The <a href="/index">Index</a> has a complete list of every page on this site. If you are a prospective employer, you may be interested in my <a href="/cv">CV</a>, <a href="https://linkedin.com/in/riley-wheadon-91b639354">LinkedIn</a>, or <a href="https://github.com/rileywheadon">Github</a>.</p>
	</div>

</div>


