<h2 id="education">Education</h2>
<p><strong>University of British Columbia</strong> - <em>B.Sc.
Mathematics, Minor in Statistics</em><br />
September 2022 - April 2026</p>
<ul class="incremental">
<li>Cumulative Average: 94.1% (A+)</li>
<li>Selected Courses:
<ul class="incremental">
<li>MATH 302 - Probability (A+)</li>
<li>MATH 223 - Linear Algebra (A+)</li>
<li>CPSC 221 - Data Structures &amp; Algorithms (A+)</li>
<li>MATH 226 - Multivariate Calculus (A)</li>
<li>MATH 227 - Vector Calculus (A+)</li>
<li>MATH 215 - Ordinary Differential Equations (A+)</li>
<li>MATH 316 - Partial Differential Equations (A+)</li>
</ul></li>
<li>Ongoing Courses:
<ul class="incremental">
<li>MATH 303 - Stochastic Processes</li>
<li>STAT 305 - Statistical Inference</li>
</ul></li>
</ul>
<p><strong>Westmount Charter School</strong> - <em>High School
Diploma</em><br />
September 2019 - June 2022</p>
<ul class="incremental">
<li>Cumulative Average: 93%</li>
<li>Activites: Student Council, Cross Country, Track &amp; Field</li>
</ul>
<h2 id="experience">Experience</h2>
<p><strong>University of British Columbia</strong> - <em>Teaching
Assistant</em><br />
September 2023 - Present</p>
<ul class="incremental">
<li>Received student evaluations averaging 4.9/5 from 35 responses over
6 semesters.</li>
<li>“<em>Riley made helpful comments when we seemed to be stuck. I liked
the fact that he did not just reveal the correct solving method and
answer right away, but rather helped us to figure it out by
ourselves.</em>” - Anonymous Student</li>
</ul>
<p><strong>University of British Columbia</strong> - <em>Student
Researcher</em><br />
April 2024 - December 2024</p>
<ul class="incremental">
<li>Awarded an NSERC USRA to develop data-driven models of root cell
behaviour.</li>
<li>Developed performant simulations by using numba to compile Python
code.</li>
<li>Discovered a previously unknown interaction involving the CLASP
protein.</li>
<li>Presented findings at an invited talk (UBC Undergraduate Mathematics
Colloquium).</li>
<li>Won 1st prize at the 2025 Multidisciplinary Undergraudate Research
Conference (MURC).</li>
<li>Authored a manuscript detailing my findings.</li>
</ul>
<p><strong>University of Calgary</strong> - <em>Summer Camp
Counselor</em><br />
April 2023 - August 2023</p>
<ul class="incremental">
<li>Designed a one-week curriculum on game development for campers aged
9–12.</li>
<li>Fostered a safe and engaging environment over eight successful weeks
of programming.</li>
</ul>
<p><strong>Music Makers Calgary</strong> - <em>Piano Teacher</em><br />
September 2021 - June 2022</p>
<ul class="incremental">
<li>Instructed students aged 5–12 in piano technique and music
theory.</li>
<li>Helped students prepare for annual recitals, building confidence and
performance skills.</li>
</ul>
<h2 id="projects">Projects</h2>
<p>For a list of my personal projects, see <a
href="/projects">/projects</a>.</p>
<h2 id="awards">Awards</h2>
<ul class="incremental">
<li><a
href="https://www.nserc-crsng.gc.ca/students-etudiants/ug-pc/usra-brpc_eng.asp">NSERC
Undergraduate Student Research Award</a></li>
<li>Trek Excellence Scholarship (awarded to the top 5% of UBC science
students by GPA)</li>
<li>Stanley M. Grant Scholarship (awarded to an outstanding 2nd year
mathematics student)</li>
<li>Best Delegate (1st place) at Canadian High School Model United
Nations (2021, 2022)</li>
<li>Team Alberta Cross Country (2021)</li>
<li>Royal Conservatory of Music Grade 10 Piano, First Class Honours</li>
</ul>
<h2 id="skills">Skills</h2>
<ul class="incremental">
<li>Python (scipy, nummpy, matplotlib, numba, BeautifulSoup4,
flask)</li>
<li>Web Development (HTML5, CSS3, Javascript)</li>
<li>R (ggplot2, tidyr, dplyr)</li>
<li>Databases (PostgreSQL, MySQL, SQLite)</li>
<li>Data Visualization (PowerBI, Tableau)</li>
<li>Version Control (Git), Shell, Bash, Vim</li>
</ul>
