<p>This page contains a list of my 20 favourite albums and favourite
songs. Songs are limited to one per artist. Albums are not. Check the
metadata to see when this page was last updated.</p>
<h2 id="favourite-albums">Favourite Albums</h2>
<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 26%" />
<col style="width: 55%" />
<col style="width: 6%" />
</colgroup>
<thead>
<tr class="header">
<th>Ranking</th>
<th>Artist</th>
<th>Album</th>
<th>Year</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Fishmans</td>
<td>Long Season (98.12.28)</td>
<td>1998</td>
</tr>
<tr class="even">
<td>2</td>
<td>Daft Punk</td>
<td>Random Access Memories</td>
<td>2013</td>
</tr>
<tr class="odd">
<td>3</td>
<td>Pink Floyd</td>
<td>Wish You Were Here</td>
<td>1975</td>
</tr>
<tr class="even">
<td>4</td>
<td>Kendrick Lamar</td>
<td>good kid, m.A.A.d city</td>
<td>2012</td>
</tr>
<tr class="odd">
<td>5</td>
<td>Daft Punk</td>
<td>Discovery</td>
<td>2001</td>
</tr>
<tr class="even">
<td>6</td>
<td>Kanye West</td>
<td>My Beautiful Dark Twisted Fantasy</td>
<td>2010</td>
</tr>
<tr class="odd">
<td>7</td>
<td>Slowdive</td>
<td>Souvlaki</td>
<td>1993</td>
</tr>
<tr class="even">
<td>8</td>
<td>The Avalanches</td>
<td>Since I Left You</td>
<td>2000</td>
</tr>
<tr class="odd">
<td>9</td>
<td>Radiohead</td>
<td>Ok Computer</td>
<td>1999</td>
</tr>
<tr class="even">
<td>10</td>
<td>Arcade Fire</td>
<td>Funeral</td>
<td>2004</td>
</tr>
<tr class="odd">
<td>11</td>
<td>Beach House</td>
<td>Depression Cherry</td>
<td>2015</td>
</tr>
<tr class="even">
<td>12</td>
<td>Beach House</td>
<td>Bloom</td>
<td>2012</td>
</tr>
<tr class="odd">
<td>13</td>
<td>Portishead</td>
<td>Dummy</td>
<td>1994</td>
</tr>
<tr class="even">
<td>14</td>
<td>Boards Of Canada</td>
<td>Music Has The Right To Children</td>
<td>1998</td>
</tr>
<tr class="odd">
<td>15</td>
<td>Rush</td>
<td>Moving Pictures</td>
<td>1981</td>
</tr>
<tr class="even">
<td>16</td>
<td>Kendrick Lamar</td>
<td>GNX</td>
<td>2024</td>
</tr>
<tr class="odd">
<td>17</td>
<td>Steely Dan</td>
<td>The Royal Scam</td>
<td>1976</td>
</tr>
<tr class="even">
<td>18</td>
<td>Pink Floyd</td>
<td>Dark Side Of The Moon</td>
<td>1973</td>
</tr>
<tr class="odd">
<td>19</td>
<td>Lorde</td>
<td>Melodrama</td>
<td>2013</td>
</tr>
<tr class="even">
<td>20</td>
<td>Frank Zappa</td>
<td>Hot Rats</td>
<td>1969</td>
</tr>
</tbody>
</table>
<h2 id="favourite-songs">Favourite Songs</h2>
<table>
<colgroup>
<col style="width: 32%" />
<col style="width: 31%" />
<col style="width: 30%" />
<col style="width: 5%" />
</colgroup>
<thead>
<tr class="header">
<th>Song</th>
<th>Album</th>
<th>Artist</th>
<th>Year</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Contact</td>
<td>Random Access Memories</td>
<td>Daft Punk</td>
<td>2013</td>
</tr>
<tr class="even">
<td>Space Song</td>
<td>Depression Cherry</td>
<td>Beach House</td>
<td>2010</td>
</tr>
<tr class="odd">
<td>Alison</td>
<td>Souvlaki</td>
<td>Slowdive</td>
<td>1993</td>
</tr>
<tr class="even">
<td>Mayonaise</td>
<td>Siamese Dream</td>
<td>The Smashing Pumpkins</td>
<td>1993</td>
</tr>
<tr class="odd">
<td>Kid Charlemagne</td>
<td>The Royal Scam</td>
<td>Steely Dan</td>
<td>1976</td>
</tr>
<tr class="even">
<td>Time</td>
<td>Dark Side of the Moon</td>
<td>Pink Floyd</td>
<td>1973</td>
</tr>
<tr class="odd">
<td>Maggot Brain</td>
<td>Maggot Brain</td>
<td>Funkadelic</td>
<td>1971</td>
</tr>
<tr class="even">
<td>Long Season (98.12.28)</td>
<td>Long Season (98.12.28)</td>
<td>Fishmans</td>
<td>1998</td>
</tr>
<tr class="odd">
<td>Since I Left You</td>
<td>Since I Left You</td>
<td>Avalanches</td>
<td>2000</td>
</tr>
<tr class="even">
<td>Enjoy the Silence</td>
<td>Violator</td>
<td>Depeche Mode</td>
<td>1990</td>
</tr>
<tr class="odd">
<td>Let Down</td>
<td>Ok Computer</td>
<td>Radiohead</td>
<td>1999</td>
</tr>
<tr class="even">
<td>Reincarnated</td>
<td>GNX</td>
<td>Kendrick Lamar</td>
<td>2025</td>
</tr>
</tbody>
</table>
