<h2 id="polll">Polll</h2>
<p><em>November 2024 - Present</em> | <a
href="https://polll.org">Link</a></p>
<p>A web application and social network for creating and sharing polls<a
href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a>. Built with <a
href="https://tailwindcss.com/">TailwindCSS</a>, <a
href="https://flask.palletsprojects.com/en/stable/">Flask</a> and <a
href="https://supabase.com/">Supabase</a>. Hosted on <a
href="https://www.heroku.com/">Heroku</a>.</p>
<h2 id="comparing-models-of-delta-notch-signalling">Comparing Models of
Delta-Notch Signalling</h2>
<p><em>February 2025 - April 2025</em> | <a href="/">Blog</a></p>
<p>A study of the similarities and differences between ODE and
stochastic process models of Delta-Notch signalling<a href="#fn2"
class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a>.
Simulations written in <a href="https://numpy.org/">numpy</a> with JIT
acceleration through <a href="https://numba.pydata.org/">numba</a>.</p>
<h2 id="sentence-analysis-for-academic-writing">Sentence Analysis for
Academic Writing</h2>
<p><em>November 2024</em> | <a href="/">Blog</a> | <a
href="https://github.com/rileywheadon/paper-analysis">Code</a></p>
<p>Do the abstracts and introductions of scientific papers from leading
journals share a common structure? It turns out they do. This project
involved some basic NLP using <a
href="https://www.llama.com/">llama</a>.</p>
<h2
id="havoc-on-the-hill-analyzing-data-from-the-canadian-parliament">Havoc
on the Hill: Analyzing Data from the Canadian Parliament</h2>
<p><em>January 2023</em> | <a href="/">Blog</a> | <a
href="https://github.com/rileywheadon/canadian-legislation-visualisation">Code</a></p>
<p>The primary function of the <a
href="https://en.wikipedia.org/wiki/Parliament_of_Canada">Parliament of
Canada</a> is to turn <em>bills</em> into <em>laws</em>. In this
project, I explore some data related to this often-overlooked part of
our political system.</p>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>I built this project as part of a team, working
primarily on the backend.<a href="#fnref1" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>This was a group project for MATH 462 (Projects in
Mathematical Biology) in 2025W2.<a href="#fnref2" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
