<h2 id="highlights">Highlights</h2>
<p>For STEM students looking to improve their study habits and
note-taking, I have written:</p>
<ul class="incremental">
<li><a href="/study-calculus">How to Study Calculus</a></li>
<li><a href="/note-taking">How I Take Notes</a></li>
<li><a href="/fast-typesetting">Fast Typesetting with Obsidian LaTeX
Suite</a></li>
<li><a href="/advanced-obsidian">Advanced Obsidian for STEM
Students</a></li>
</ul>
<p>You also might be interested in my list of <a href="/library">things
to read</a> or <a href="/music">favourite music</a>.</p>
<h2 id="contact">Contact</h2>
<p>You can reach me via email at <a
href="mailto:rileywheadon@gmail.com">rileywheadon@gmail.com</a>.</p>
