<h2 id="index">Index</h2>
<table style="width:100%;">
<colgroup>
<col style="width: 19%" />
<col style="width: 36%" />
<col style="width: 14%" />
<col style="width: 9%" />
<col style="width: 9%" />
<col style="width: 10%" />
</colgroup>
<thead>
<tr class="header">
<th>Date</th>
<th>Name</th>
<th>Location</th>
<th>Peak</th>
<th>Gain</th>
<th>Length</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>May 2025</td>
<td>Anklebiter Ridge<a href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a></td>
<td>AB, CAN</td>
<td>2131m</td>
<td>854m</td>
<td>6.0km</td>
</tr>
<tr class="even">
<td>May 2025</td>
<td>Powderface Ridge</td>
<td>AB, CAN</td>
<td>2204m</td>
<td>754m</td>
<td>11.km</td>
</tr>
<tr class="odd">
<td>June 2025</td>
<td>Lake Agnes</td>
<td>AB, CAN</td>
<td>-</td>
<td>502m</td>
<td>7.4km</td>
</tr>
<tr class="even">
<td>June 2025</td>
<td>Grotto Mountain</td>
<td>AB, CAN</td>
<td>2706m</td>
<td>1463m</td>
<td>12.9km</td>
</tr>
<tr class="odd">
<td>June 2025</td>
<td>Jumpingpound Summit</td>
<td>AB, CAN</td>
<td>2225m</td>
<td>407m</td>
<td>6.3km</td>
</tr>
<tr class="even">
<td>June 2025</td>
<td>Mount Lougheed</td>
<td>AB, CAN</td>
<td>3107m</td>
<td>1440m</td>
<td>12.2km</td>
</tr>
<tr class="odd">
<td>July 2025</td>
<td>Flora Peak</td>
<td>BC, CAN</td>
<td>1953m</td>
<td>1295m</td>
<td>11.7km</td>
</tr>
<tr class="even">
<td>July 2025</td>
<td>Cascade Mountain</td>
<td>AB, CAN</td>
<td>2998m</td>
<td>1689m</td>
<td>18.5km</td>
</tr>
<tr class="odd">
<td>July 2025</td>
<td>Mount Temple</td>
<td>AB, CAN</td>
<td>3544m</td>
<td>1704m</td>
<td>14.3km</td>
</tr>
<tr class="even">
<td>August 2025</td>
<td>Castle Mountain<a href="#fn2" class="footnote-ref" id="fnref2"
role="doc-noteref"><sup>2</sup></a></td>
<td>AB, CAN</td>
<td>2766m</td>
<td>1858m</td>
<td>28.2km</td>
</tr>
<tr class="odd">
<td>August 2025</td>
<td>Stewart Canyon<a href="#fn3" class="footnote-ref" id="fnref3"
role="doc-noteref"><sup>3</sup></a></td>
<td>AB, CAN</td>
<td>-</td>
<td>588m</td>
<td>14.7km</td>
</tr>
<tr class="even">
<td>August 2025</td>
<td>Sarrail Ridge</td>
<td>AB, CAN</td>
<td>-</td>
<td>1063m</td>
<td>12.1km</td>
</tr>
<tr class="odd">
<td>August 2025</td>
<td>Mount Rundle</td>
<td>AB, CAN</td>
<td>2948m</td>
<td>1711m</td>
<td>15.4km</td>
</tr>
</tbody>
</table>
<h2 id="photos">Photos</h2>
<h3 id="grotto-mountain">Grotto Mountain</h3>
<figure>
<img src="/templates/hiking/grotto-01.webp"
alt="The view over the back side of Grotto Mountain." />
<figcaption aria-hidden="true">The view over the back side of Grotto
Mountain.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/grotto-02.webp"
alt="The town of Canmore from the summit of Grotto Mountain." />
<figcaption aria-hidden="true">The town of Canmore from the summit of
Grotto Mountain.</figcaption>
</figure>
<h3 id="mount-lougheed">Mount Lougheed</h3>
<figure>
<img src="/templates/hiking/lougheed-01.webp"
alt="Mount Lougheed towering over the Trans-Canada Highway." />
<figcaption aria-hidden="true">Mount Lougheed towering over the
Trans-Canada Highway.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-02.webp"
alt="A beautiful alpine meadow on the approach to Mount Lougheed." />
<figcaption aria-hidden="true">A beautiful alpine meadow on the approach
to Mount Lougheed.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-03.webp"
alt="Looking up at a daunting pile of scree." />
<figcaption aria-hidden="true">Looking up at a daunting pile of
scree.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-04.webp"
alt="Attempting to keep my balance on a particularly steep section." />
<figcaption aria-hidden="true">Attempting to keep my balance on a
particularly steep section.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-05.webp"
alt="The incredible Mount Sparrowhawk as seen from the summit." />
<figcaption aria-hidden="true">The incredible Mount Sparrowhawk as seen
from the summit.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-06.webp"
alt="Panorama view from the summit. Little Lougheed and the spray lakes can be seen between the second and third peaks." />
<figcaption aria-hidden="true">Panorama view from the summit. Little
Lougheed and the spray lakes can be seen between the second and third
peaks.</figcaption>
</figure>
<h3 id="cascade-mountain">Cascade Mountain</h3>
<figure>
<img src="/templates/hiking/cascade-01.webp"
alt="The Bow Valley from the summit of Cascade Mountain." />
<figcaption aria-hidden="true">The Bow Valley from the summit of Cascade
Mountain.</figcaption>
</figure>
<h3 id="mount-temple">Mount Temple</h3>
<figure>
<img src="/templates/hiking/temple-00.webp"
alt="A beautiful sunrise near the University of Calgary." />
<figcaption aria-hidden="true">A beautiful sunrise near the University
of Calgary.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-01.webp"
alt="Hiking the Larch Valley trail while Mount Temple looms in the background." />
<figcaption aria-hidden="true">Hiking the Larch Valley trail while Mount
Temple looms in the background.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-02.webp"
alt="The first five peaks in the Valley of the Ten Peaks." />
<figcaption aria-hidden="true">The first five peaks in the Valley of the
Ten Peaks.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-03.webp"
alt="Looking up at Sentinel Pass with the Minnestima Lakes in the foreground." />
<figcaption aria-hidden="true">Looking up at Sentinel Pass with the
Minnestima Lakes in the foreground.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-04.webp"
alt="Looking over the edge of Sentinel Pass into Paradise Valley." />
<figcaption aria-hidden="true">Looking over the edge of Sentinel Pass
into Paradise Valley.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-05.webp"
alt="The distinctive Pinnacle Mountain as seen from the Mount Temple scramble." />
<figcaption aria-hidden="true">The distinctive Pinnacle Mountain as seen
from the Mount Temple scramble.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-06.webp"
alt="Looking down at Paradise Valley from the summit of Mount Temple." />
<figcaption aria-hidden="true">Looking down at Paradise Valley from the
summit of Mount Temple.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-07.webp"
alt="Moraine Lake from the summit of Mount Temple with two large cornices in the foreground." />
<figcaption aria-hidden="true">Moraine Lake from the summit of Mount
Temple with two large cornices in the foreground.</figcaption>
</figure>
<h3 id="castle-mountain">Castle Mountain</h3>
<figure>
<img src="/templates/hiking/castle-01.webp"
alt="Looking down on Rockbound Lake with Castle Mountain in the background." />
<figcaption aria-hidden="true">Looking down on Rockbound Lake with
Castle Mountain in the background.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-02.webp"
alt="The Trans-Canada Highway from Castle Mountain, our first objective of the day." />
<figcaption aria-hidden="true">The Trans-Canada Highway from Castle
Mountain, our first objective of the day.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-03.webp"
alt="The view of Stuart Knob, our second objective, from Castle Mountain." />
<figcaption aria-hidden="true">The view of Stuart Knob, our second
objective, from Castle Mountain.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-04.webp"
alt="Looking back at Castle Mountain from Stuart Knob." />
<figcaption aria-hidden="true">Looking back at Castle Mountain from
Stuart Knob.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-05.webp"
alt="Looking across at our third objective, Helena Ridge." />
<figcaption aria-hidden="true">Looking across at our third objective,
Helena Ridge.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-06.webp"
alt="The view of Rockbound Lake from the summit of Helena Ridge." />
<figcaption aria-hidden="true">The view of Rockbound Lake from the
summit of Helena Ridge.</figcaption>
</figure>
<h3 id="mount-rundle">Mount Rundle</h3>
<figure>
<img src="/templates/hiking/rundle-01.webp"
alt="Looking down on a narrow ridge while climbing Mount Rundle. Sulphur Mountain can be seen in the background." />
<figcaption aria-hidden="true">Looking down on a narrow ridge while
climbing Mount Rundle. Sulphur Mountain can be seen in the
background.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/rundle-02.webp"
alt="Looking across at the west side of Mount Rundle puts into perspective how steep this climb really is." />
<figcaption aria-hidden="true">Looking across at the west side of Mount
Rundle puts into perspective how steep this climb really
is.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/rundle-03.webp"
alt="Looking over the edge of Mount Rundle onto the Trans-Canada highway." />
<figcaption aria-hidden="true">Looking over the edge of Mount Rundle
onto the Trans-Canada highway.</figcaption>
</figure>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p>Including the traverse to Bluemat hill.<a href="#fnref1"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>Plus Stuart Knob (2850m) and Helena Ridge (2860m).<a
href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3"><p>From the Two Jack Lake campsite.<a href="#fnref3"
class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
