<h2 id="grotto-mountain">Grotto Mountain</h2>
<ul class="incremental">
<li>Length: 7.4km</li>
<li>Peak Elevation: 2706m</li>
<li>Elevation Gain: 1463m</li>
</ul>
<p>June 14th, 2025: Grotto Mountain is one of the higher peaks in the
Canmore area but still a fairly straightforward climb. We started from
the Alpine Club of Canada and climbed the “easy route” up the left side
of the mountain.</p>
<figure>
<img src="/templates/hiking/grotto-01.webp"
alt="The view over the back side of Grotto Mountain." />
<figcaption aria-hidden="true">The view over the back side of Grotto
Mountain.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/grotto-02.webp"
alt="The town of Canmore from the summit of Grotto Mountain." />
<figcaption aria-hidden="true">The town of Canmore from the summit of
Grotto Mountain.</figcaption>
</figure>
<h2 id="mount-lougheed">Mount Lougheed</h2>
<ul class="incremental">
<li>Length: 12.2km</li>
<li>Peak Elevation: 3107m</li>
<li>Elevation Gain: 1440m</li>
</ul>
<p>June 29th, 2025: In my opinion, Mount Lougheed is one of the most
beautiful mountains in Kananaskis so I was stoked to make it to the
summit. However, we probably should’ve went later in the season since
there was a lot of snow on the final part of the climb.</p>
<figure>
<img src="/templates/hiking/lougheed-01.webp"
alt="Mount Lougheed towering over the Trans-Canada Highway." />
<figcaption aria-hidden="true">Mount Lougheed towering over the
Trans-Canada Highway.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-02.webp"
alt="A beautiful alpine meadow on the approach to Mount Lougheed." />
<figcaption aria-hidden="true">A beautiful alpine meadow on the approach
to Mount Lougheed.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-03.webp"
alt="Looking up at a daunting pile of scree." />
<figcaption aria-hidden="true">Looking up at a daunting pile of
scree.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-04.webp"
alt="Attempting to keep my balance on a particularly steep section." />
<figcaption aria-hidden="true">Attempting to keep my balance on a
particularly steep section.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-05.webp"
alt="The incredible Mount Sparrowhawk as seen from the summit." />
<figcaption aria-hidden="true">The incredible Mount Sparrowhawk as seen
from the summit.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/lougheed-06.webp"
alt="Panorama view from the summit. Little Lougheed and the spray lakes can be seen between the second and third peaks." />
<figcaption aria-hidden="true">Panorama view from the summit. Little
Lougheed and the spray lakes can be seen between the second and third
peaks.</figcaption>
</figure>
<h2 id="cascade-mountain">Cascade Mountain</h2>
<ul class="incremental">
<li>Length: 18.5km</li>
<li>Peak Elevation: 2998m</li>
<li>Elevation Gain: 1689m</li>
</ul>
<p>July 12th, 2025: Cascade Mountain is a fairly popular hike near the
Norquay ski area. We saw a lot of people today, including quite a few
tourists who were <em>very</em> unprepared. The trail itself is pretty
boring but the views from the top were great!</p>
<figure>
<img src="/templates/hiking/cascade-01.webp"
alt="The Bow Valley from the summit of Cascade Mountain." />
<figcaption aria-hidden="true">The Bow Valley from the summit of Cascade
Mountain.</figcaption>
</figure>
<h2 id="mount-temple">Mount Temple</h2>
<ul class="incremental">
<li>Length: 14.3km</li>
<li>Peak Elevation: 3544m</li>
<li>Elevatin Gain: 1704m</li>
</ul>
<p>July 24th, 2025: Mount Temple is one of the tallest mountains in
Alberta and one of the few 11,000ft peaks that can be climbed without
mountaineering equipment. We were a bit disappointed by how cloudy it
was at the top, but the views were still spectacular.</p>
<figure>
<img src="/templates/hiking/temple-00.webp"
alt="A beautiful sunrise near the University of Calgary." />
<figcaption aria-hidden="true">A beautiful sunrise near the University
of Calgary.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-01.webp"
alt="Hiking the Larch Valley trail while Mount Temple looms in the background." />
<figcaption aria-hidden="true">Hiking the Larch Valley trail while Mount
Temple looms in the background.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-02.webp"
alt="The first five peaks in the Valley of the Ten Peaks." />
<figcaption aria-hidden="true">The first five peaks in the Valley of the
Ten Peaks.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-03.webp"
alt="Looking up at Sentinel Pass with the Minnestima Lakes in the foreground." />
<figcaption aria-hidden="true">Looking up at Sentinel Pass with the
Minnestima Lakes in the foreground.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-04.webp"
alt="Looking over the edge of Sentinel Pass into Paradise Valley." />
<figcaption aria-hidden="true">Looking over the edge of Sentinel Pass
into Paradise Valley.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-05.webp"
alt="The distinctive Pinnacle Mountain as seen from the Mount Temple scramble." />
<figcaption aria-hidden="true">The distinctive Pinnacle Mountain as seen
from the Mount Temple scramble.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-06.webp"
alt="Looking down at Paradise Valley from the summit of Mount Temple." />
<figcaption aria-hidden="true">Looking down at Paradise Valley from the
summit of Mount Temple.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/temple-07.webp"
alt="Moraine Lake from the summit of Mount Temple with two large cornices in the foreground." />
<figcaption aria-hidden="true">Moraine Lake from the summit of Mount
Temple with two large cornices in the foreground.</figcaption>
</figure>
<h2 id="castle-mountain">Castle Mountain</h2>
<ul class="incremental">
<li>Length: 28.2km</li>
<li>Peak Elevation: 2766m</li>
<li>Elevation Gain: 1858m</li>
</ul>
<p>August 4th, 2025: With its distinctive rectangular shape, Castle
Mountain is one of the most iconic peaks in the Canadian rockies. The
area around and above Rockbound Lake is absolutely beautiful as well.
This was an absolutely amazing day and I can’t recommend this area
enough.</p>
<figure>
<img src="/templates/hiking/castle-01.webp"
alt="Looking down on Rockbound Lake with Castle Mountain in the background." />
<figcaption aria-hidden="true">Looking down on Rockbound Lake with
Castle Mountain in the background.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-02.webp"
alt="The Trans-Canada Highway from Castle Mountain, our first objective of the day." />
<figcaption aria-hidden="true">The Trans-Canada Highway from Castle
Mountain, our first objective of the day.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-03.webp"
alt="The view of Stuart Knob, our second objective, from Castle Mountain." />
<figcaption aria-hidden="true">The view of Stuart Knob, our second
objective, from Castle Mountain.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-04.webp"
alt="Looking back at Castle Mountain from Stuart Knob." />
<figcaption aria-hidden="true">Looking back at Castle Mountain from
Stuart Knob.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-05.webp"
alt="Looking across at our third objective, Helena Ridge." />
<figcaption aria-hidden="true">Looking across at our third objective,
Helena Ridge.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/castle-06.webp"
alt="The view of Rockbound Lake from the summit of Helena Ridge." />
<figcaption aria-hidden="true">The view of Rockbound Lake from the
summit of Helena Ridge.</figcaption>
</figure>
<h2 id="mount-rundle">Mount Rundle</h2>
<ul class="incremental">
<li>Length: 15.4km</li>
<li>Peak Elevation: 2948m</li>
<li>Elevation Gain: 1711m</li>
</ul>
<p>August 23rd, 2025: Mount Rundle spans almost the entire distance from
Canmore to Banff, towering above the Trans-Canada highway. The scree on
the last 800m of elevation was brutal, but by this point in the season I
was pretty used to it.</p>
<figure>
<img src="/templates/hiking/rundle-01.webp"
alt="Looking down on a narrow ridge while climbing Mount Rundle. Sulphur Mountain can be seen in the background." />
<figcaption aria-hidden="true">Looking down on a narrow ridge while
climbing Mount Rundle. Sulphur Mountain can be seen in the
background.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/rundle-02.webp"
alt="Looking across at the west side of Mount Rundle puts into perspective how steep this climb really is." />
<figcaption aria-hidden="true">Looking across at the west side of Mount
Rundle puts into perspective how steep this climb really
is.</figcaption>
</figure>
<figure>
<img src="/templates/hiking/rundle-03.webp"
alt="Looking over the edge of Mount Rundle onto the Trans-Canada highway." />
<figcaption aria-hidden="true">Looking over the edge of Mount Rundle
onto the Trans-Canada highway.</figcaption>
</figure>
