<figure>
<img src="/templates/sunsets/sunset10.jpg" alt="Honolulu, March 2022" />
<figcaption aria-hidden="true">Honolulu, March 2022</figcaption>
</figure>
<figure>
<img src="/templates/sunsets/sunset4.jpeg" alt="Calgary, August 2023" />
<figcaption aria-hidden="true">Calgary, August 2023</figcaption>
</figure>
<figure>
<img src="/templates/sunsets/sunset2.jpeg"
alt="University of British Columbia, February 2024" />
<figcaption aria-hidden="true">University of British Columbia, February
2024</figcaption>
</figure>
<figure>
<img src="/templates/sunsets/sunset1.jpeg"
alt="University of British Columbia, March 2024" />
<figcaption aria-hidden="true">University of British Columbia, March
2024</figcaption>
</figure>
<figure>
<img src="/templates/sunsets/sunset8.jpeg" alt="Bali, August 2024" />
<figcaption aria-hidden="true">Bali, August 2024</figcaption>
</figure>
<figure>
<img src="/templates/sunsets/sunset11.jpg"
alt="University of British Columbia, September 2024" />
<figcaption aria-hidden="true">University of British Columbia, September
2024</figcaption>
</figure>
